<div class="d-flex vh-100">
  <div class="d-flex w-100 justify-content-center align-self-center">
    <div class="card p-4" style="width: 25rem; height: 500px;">
      <div class="container ">



        <form class="form-horizontal" autocomplete="off" #myForm="ngForm" (ngSubmit)="login(myForm)" 
          novalidate>

          <img class="card-img-top rounded mx-auto d-block" src="./assets/shop2.jpg"
            style="width: 243px; height: 120px;">
          <hr>
          <p class="h5 mb-4 text-center">Tienda On Line</p>

          <!-- Email -->

          <div class="form-group row">
            <label class="col-4 col-form-label">Usuario</label>
            <div class="col-8">

              <input type="text" autofocus class="form-control" autocomplete="off"   name="email"  
              #email="ngModel" required  ngModel [ngClass]="{ 'is-invalid': email.errors }" >

            </div>
          </div>

          <div class="form-group row ">
            <label class="col-4 col-form-label">Contraseña</label>
            <div class="col-8">
              <input type="password" class="form-control" autocomplete="off" name="password"  
                #password="ngModel" required  minlength="6" ngModel  [ngClass]="{ 'is-invalid': password.errors }">
            </div>
          </div>


          <!-- Sign in button -->
          {{message}}

          <button type="submit" [disabled]="!myForm.valid" 
            class="btn btn-primary btn-block text-white">INGRESAR</button>
          <div class="d-flex justify-content-center text-danger">{{message}}</div>

          <div class="text-center">
            <a [routerLink]="['/signin']">Registrarse</a>
            <br>
          </div>
          <hr>
          <!-- Register -->

          <div class="text-center">
            <p>®Todos los derechos reservados v1.0.0</p>
            <br>
          </div>

        </form>



      </div>
    </div>
  </div>
</div>